<div class="row-2">
    <h2 class="
     text-info text-center">Invite Person</h2>
    </div>
    <br>
    <div class="col-12 m-5">
    <div class="border-top">
        <div class="row padding-left">
     <div class="row">
       <div class="row p-1 m-2" *ngFor="let invite of InviteList">
           <div class="card p-0" style="width: 21rem;" >
               
                 <div>
                   <p class="text-info"><td>{{invite.user.name}}</td>
                   </p>
                
                   
                 </div>
                 <div>
                  <button class="col-sm-12 text-info" data-toggle="modal"(click)="EditClick(invite)" data-target="#editmodal">Show more</button>

                 </div>
                 
                 
               </div>
             </div>
           </div>
           
       </div>
           </div>
       </div>
     
       <div class="modal" tabindex="-1" role="dialog" id="editmodal"> 
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                 <span aria-hidden="true">&times;</span>
              </button> 
            </div>
            <div class="modal-body">
             <div  class="form-group row">
                <label for="txtname" class="col-sm-4">Name</label>
                <div class="col-sm-8">
                    <input id="txtname" [(ngModel)]="EditInvite.user.name" type="text" name="name" placeholder="Enter name" class="form-control">
                </div>
             </div>
             <div  class="form-group row">
                <label for="txtaddress" class="col-sm-4"> Address</label>
                <div class="col-sm-8">
                    <input id="txtaddress" [(ngModel)]="EditInvite.user.address" type="text" name="address" placeholder="Enter Address" class="form-control">
                </div>
             </div>
             <div class="form-group row">
                    
                <label for="txtage" class="col-sm-4 col-form-label">Age</label>
                <div class="col-sm-8">
                <input id="txtage"[(ngModel)]="EditInvite.user.age" type="text"name="age"placeholder="Enter Age"class="form-control" />
              </div>
              </div>
              <div class="form-group row">
                    
                <label for="txtemail" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                <input id="txtemail"[(ngModel)]="EditInvite.user.email" type="text"name="email"placeholder="Enter Email"class="form-control" />
              </div>
              </div>
            </div>
            
            </div>
           
          </div>
        </div>