<div class="row-2">
    <h2 class="
     text-info text-center">Invite Person</h2>
    </div>
    <br>
    <div class="col-12 m-5">
    <div class="border-top">
        <div class="row padding-left">
     <div class="row">
       <div class="row p-1 m-2" *ngFor="let invite of InviteList">
           <div class="card p-0" style="width: 21rem;" >
               
                 <div>
                   <p class="text-info"><td>{{invite.user.name}}</td></p>
                
                   
                 </div>
                 
                 
               </div>
               <button class="col-sm-9 text-info" data-toggle="modal" data-target="#editmodal">Show more</button>
             </div>
           </div>
       </div>
           </div>
       </div>
     
       <!-- <div class="modal" tabindex="-1" role="dialog" id="editmodal"> 
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title btn btn-info">
                 </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <div  class="form-group row">
                <label for="txttitle" class="col-sm-4">Name</label>
                <div class="col-sm-8">
                    <input id="txttitle" [(ngModel)]="EditInvite.user.name" type="text" name="title" placeholder="Enter Title" class="form-control">
                </div>
             </div>
             <div  class="form-group row">
                <label for="txtauthor" class="col-sm-4"> Address</label>
                <div class="col-sm-8">
                    <input id="txtauthor" [(ngModel)]="EditInvite.user.address" type="text" name="author" placeholder="Enter Author" class="form-control">
                </div>
             </div>
             <div class="form-group row">
                    
                <label for="txtisbn" class="col-sm-4 col-form-label">Age</label>
                <div class="col-sm-8">
                <input id="txtisbn"[(ngModel)]="EditInvite.user.age" type="text"name="isbn"placeholder="Enter ISBN"class="form-control" />
              </div>
              </div>
              <div class="form-group row">
                    
                <label for="txtuser" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                <input id="txtuser"[(ngModel)]="EditInvite.user.email" type="text"name="userId"placeholder="Enter UserId"class="form-control" />
              </div>
              </div>
            </div>
            
            
            </div>
           
          </div>
        </div> -->