<nav class="navbar navbar-expand-lg navbar-light bg-dark">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"routerLink="home" aria-hidden="false">
          <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span>
        </a>
       </li>
       <li class="nav-item active">
        <a class="nav-link" routerLink="about">
          <i class="fa fa-address-card"></i> About
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="contact">
          <i class="fa fa-info-circle"></i> Contact Us
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="books">
          <i class="fa fa-book"></i> Books
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="invitetable">
          <i class="fa- fa-circle-user"></i> Invite
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="inviteperson">
          <i class="fa- fa-circle-user"></i> Invitedperson
        </a>
      </li>
      
      
    </ul>
    
  <a routerLink="register"  class="btn btn-outline-dark my-2 my-sm-0">Register<i class="fa fa-user-plus"></i></a>
  <button *ngIf="loginService.CurrentUsername !=''"(click)="logoutClick()" class="btn btn-outline-dark my-2 my-sm-0">LogOut <i class="fa fa-sign-in"></i></button>
   <a routerLink="login" *ngIf="loginService.CurrentUsername === ''" type="submit" class="btn btn-outline-dark my-2 my-sm-0">login</a>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
